.cookie-popup {
  position: fixed;
  bottom: 20px;
  width: 400px;
  height: 200px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.cookie-popup button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}
